<!DOCTYPE html>
<html lang="en">

<head>
    <title>admin</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/admin/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>

    <div class="navarea">
        <div class="topnav">
            <img src="/public/images/logobander.png" class="imgbander">
        </div>

        <aside class="sidebar">
            <nav class="sidebar-nav">
                <ul>
                    <li>
                        <a href="/index">
                            <span class="fontmanu">ร้านอาหาร</span>
                        </a>

                        <ul class="nav-flyout">
                            <li>
                                <a href="/editmanu">จัดการเมนู</a>
                            </li>
                            <li>
                                <a href="/foodgroup">จัดการหมวด</a>
                            </li>
                            <li>
                                <a href="/editfood">จัดการโต๊ะ/รายการอาหาร</a>
                            </li>
                            <li>
                                <a href="/Promotion">จัดการโปรโมชัน</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="#">
                            <span class="fontmanu">สมาชิก</span>
                        </a>

                        <ul class="nav-flyout">
                            <li>
                                <a href="/manage">จัดการสมาชิก</a>
                            </li>
                            <li>
                                <a href="#"></a>
                            </li>
                            <li>
                                <a href="#"></a>
                            </li>


                        </ul>
                    </li>

                    <li>
                        <a href="/total">
                            <span class="fontmanu">ยอดขาย</span>
                        </a>
                    </li>

                </ul>
            </nav>
        </aside>

        <div class="footnav">
            <a href="/">
                <span class="fontmanu">Log out</span>
            </a>
        </div>

    </div>

    <div class="manuarea">
   