<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Slot PG</title>
</head>

<body style="text-align: center; font-size: 50px;">
  <h1>
    เกนสุดหล่อ
  </h1>
  <h2>เราต้องรอด</h2>
</body>

</html>