<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ขอบคุณที่ใช้บริการครับ</title>
</head>
<body>
    <div style="margin-top: 100px; padding: 25px; text-align: center;">
        <img src="/public/images/logobander.png" alt="logo" srcset="" style="margin-left: auto; margin-right: auto; display: block; width: 80%;">
        <h1>ขอบคุณที่ใช้บริการครับ</h1>
    </div>
    
</body>
</html>